.calendar{
    background: #2CA8C2;
    color: #FFF;
    width:100%;
    font-family: 'Oxygen';
    table-layout:fixed;
}

.calendar.purple{
    background:#913CCD;
}

.calendar.pink{
    background: #F15F74;
}

.calendar.orange{
    background: #F76D3C;
}

.calendar.yellow{
    background: #F7D842;
}

.calendar.green{
    background: #98CB4A;
}

.calendar.grey{
    background: #839098;
}

.calendar.blue{
    background: #5481E6;
}

.calendar-title th {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.05);
}

.calendar-header th {
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.calendar tbody tr td{
    text-align: center;
    vertical-align: top;
    width: 14.28%;
}

.calendar tbody tr td.pad{
    background: rgba(255, 255, 255, 0.1);
}

.calendar tbody tr td.day{
}

.calendar tbody tr td.day div:first-child{
    padding:4px;
    line-height:17px;
    height:25px;
}

.calendar tbody tr td.day div:last-child{
    font-size:10px;
    padding:4px;
    min-height:25px;
}

.calendar tbody tr td.today{
    background: rgba(0, 0, 0, 0.25);
}

.calendar tbody tr td.mask-start,
.calendar tbody tr td.mask,
.calendar tbody tr td.mask-end {
    background: #C23B22;
}

.calendar .cal-weekview-time {
    border: rgba(0,0,0.25);
}

.calendar .cal-weekview-time {
    padding: 4px 2px 2px 4px;
}

.calendar .cal-weekview-time>div {
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
    min-height: 50px;
}

.calendar .cal-weekview-event.mask-start,
.calendar .cal-weekview-event.mask,
.calendar .cal-weekview-event.mask-end {
    background: #C23B22;
    margin-bottom: 3px;
    padding: 5px;
}

.calendar .cal-weekview-time-th {
    background: rgba(0, 0, 0, .1);
}

.calendar .cal-weekview-time-th>div {
    padding: 10px;
    min-height: 50px;
}